:root {
  --milky-blue: #c6d6d6;
  --onyx: #3d3d3d;
  --lunar-blue: #222d44;
  --platinum: #eae9e5;
  --rose-gold: #c48f7f;
  --champagne: #f4ddd5;
  --blush: #f7e3dc;
  --ash-gray: #5b5a66;
  --dark-blush: #d59f9e;
  --gold: #d2a98e;
  --almost-black: #242928;
}
