:root {
  --main-color: #222d44;
  --primary-color: #c48f7f;
  --secondary-color: #f4ddd5;
  --text-primary-color: #3d3d3d;
  --text-secondary-color: #eae9e5;
  --header-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font-family);
}

h1 {
  font-size: 96px;
  color: var(--text-secondary-color);
}

h2 {
  font-size: 64px;
  color: var(--text-secondary-color);
}
h3 {
  font-weight: bold;
  color: var(--text-secondary-color);
}
h4 {
  font-size: 48px;
  color: var(--text-primary-color);
}
p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  color: var(--text-secondary-color);
}
nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  color: var(--main-color);
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--primary-color);
  text-decoration: underline;
}

footer {
  margin: 60px 0;
}

footer .email-link {
  color: var(--primary-color);
  font-size: 24px;
  text-decoration: none;
}

footer .email-link:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

footer .social-links a {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 50%;
  font-size: 18px;
  margin: 0 20px;
  padding: 10px 14px;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

footer .contact-box {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 30px 120px;
  color: var(--text-primary-color);
}

footer .contact-box p {
  margin: 0;
}

.fixed-top {
  background-color: var(--secondary-color);
}

.hero {
  background-color: var(--secondary-color);
  padding: 80px 20px;
  text-align: center;
}

.hero h1 {
  color: var(--main-color);
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  color: var(--main-color);
}

.hero h2 {
  color: var(--main-color);
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
}

.btn:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

.btn-branding {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: var(--main-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-learn-more {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-project-launch {
  font-size: 16px;
  padding: 9px 17px;
}

.project-description h2 {
  color: var(--primary-color);
}

.project-description {
  padding: 120px 60px;
}

.content-container {
  padding: 60px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
}
.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
}
.content p {
  font-size: 16px;
}
.content {
  margin: 30px;
}
.tammy-pic {
  border-radius: 18px;
  max-width: 80%;
}
.about-me-overview {
  color: var(--text-secondary-color);
}
.about-paragraphs {
  background-color: var(--secondary-color);
  display: flex;
  margin: 30px 0;
  padding: 20px;
  text-align: center;
}

.about-paragraphs p {
  color: var(--text-primary-color);
}
.about-paragraphs span {
  color: var(--primary-color);
}

.project-title {
  color: var(--primary-color);
}

.logo {
  max-height: 40px;
}

.contact-links {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
}

.open-source {
  color: var(--text-secondary-color);
}
.open-source a {
  color: var(--primary-color);
}

.open-source a:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.shecodes-workshops-links,
.matt-delac-link {
  color: var(--primary-color);
}

@media (max-width: 960px) {
  .project-description {
    margin-bottom: 48px;
    padding: 0;
    text-align: center;
  }
  h1,
  .content h1 {
    font-size: 48px;
    line-height: 52px;
  }
  h2 {
    font-size: 44px;
  }
  h4 {
    font-size: 36px;
  }
  nav a {
    font-size: 12px;
  }

  footer .contact-box {
    padding: 30px;
  }
  footer .email-link {
    font-size: 20px;
  }

  .hero p {
    font-size: 28px;
  }
  .hero h2 {
    font-size: 20px;
  }

  .project-demo-links {
    flex-direction: column;
  }

  .project-demo-links a {
    margin: 12px 0;
  }
  .btn {
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
  }
  .btn-project-launch {
    font-size: 12px;
    padding: 3px 6px;
  }
}
